body {
  background-color: pink;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  
p {
  margin-left: 80px;
  margin-right: 80px
}
  
h2 {
  margin-left: 40px;
}

ol li {
  margin-left: 50px;
}

table tr td {
  padding: 0.5rem;
}
